.logo {
  padding: 1.5rem 1.5rem 0 1rem;
  position: relative;
  max-width: 100%;
}
.logo__img {
  display: flex;
  height: calc(var(--header-height) - 2rem);
  max-width: 20%;
}
.logo__country {
  display: flex;
  position: relative;
  font-size: var(--h6-size);
  right: 0;
  bottom: 2.2rem;
  font-weight: bold;
}
.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 200px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header_search {
  display: flex;
  align-items: stretch;
  flex: 1 0 0;
  margin: 1rem 1rem;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.header_searchIcon {
  padding: 5px;
  height: 22px;
  background-color: orange;
}
.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 200%;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header_basket {
  display: flex;
  align-items: center;
  color: white;
}
